<p style="text-align: center "><img style="width: 50px; height: 50px; margin: auto" src="<%=logo%>" />&nbsp;
</p>
<p style=" text-align: center ">REPUBLICA DE ANGOLA<br />MINISTERIO DO ENSINO SUPERIOR<br />INSITUTO SUPERIOR POLITECTNICO DO BENGO</p>